---
// Component Imports
import Footer from '../components/footer.astro'
import Layout from '../components/Base_Layout.astro'

const formation = await fetch('http://localhost:1337/api/formations').then(res=>res.json())
const{intitule} = formation ||{}
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
<article class="mt-10 md:mt-0 w-10/12 flex flex-col md:grid md:grid-cols-2 m-auto md:space-x-20 md:h-screen md:py-2">
<figure class="md:h-full ">

<img class="md:h-full m-auto" src="../assets/audit.svg">
</figure>

<section class="md:p-10 text-white m-auto  md:h-min md:self-center md:place-self-center bg-blue"> 
<h1 class=" mb-10 text-4xl md:text-6xl text-yellow-400 font-black "> Soigne ta comm</h1>
<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam. .</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam. .</p>



</section>

</article>
<h2 class="text-center text-white pt-10 text-4xl mb-10 md:mb-0 md:text-5xl font-black"> Nos prochaines formations</h2>

<article class="bg-red w-12/12 text-white md:text-black m-auto pb-10 md:pb-0  ">
<div  class="md:grid grid-cols-3  w-10/12 md:h-screen  m-auto md:space-x-20 content-center items-center place-content-center ">
<div>
<figure class="">
<img class="w-full" src="../assets/pipou.png">
</figure>
<div class="flex flex-col hidden md:block">
<button class="bg-blue  m-auto text-white hover:text-yellow-400 p-5 text-3xl font-black w-full mt-5">En savoir plus</button>
<button class="bg-blue  m-auto text-white hover:text-yellow-400 p-5 text-3xl w-full font-black  mt-5">S'inscrire</button>
</div>
</div>
<section class="md:col-span-2 md:self-end w-12/12  "> 
<h1 class="text-yellow-400 text-4xl my-5 md:my-0  md:text-5xl font-black"> 2 jours pour créer ton site</h1>
<h2 class="text-white mb-5 md:mb-10 text-xl font-black"> 
Tu souhaites créer ton propre site mais tu ne sais pas par où commencer ?
</h2>
<button class="bg-blue  m-auto md:hidden text-white hover:text-yellow-400 p-2 text-sm w-full font-black ">S'inscrire</button>

<div class="md:bg-white p-2 md:p-10  drop-shadow">
<div class="flex flex-col md:flex-row md:space-x-10">
<ul class="flex space-x-4 items-baseline mb-2">
<li>
<i class="fas fa-calendar-alt  color-blue text-2xl "></i></li>
<li>
<p class=" text-lg  "> le 28 janvier 2022</p></li>
</ul>
<ul class="flex space-x-4 items-baseline">
<li>
<i class="fas fa-user-alt color-blue mb-5 md:mb-0  md:color-blue text-2xl"></i></li>
<li>
<p class=" text-lg  "> Jérémy Scala</p></li>
</ul>
</div>
<ul class="flex space-x-4 items-baseline mb-5">
<li>
<i class="fas fa-map-marker color-blue text-white md:color-blue text-2xl"></i></li>
<li>
<p class=" text-lg  "> La grand poste - Quai Sur - Meuse 19, 4000 Liège</p></li>
</ul>

<p class="mb-5">Le Sirius Hub te propose un atelier gratuit de deux jours grâce auquel tu créeras le premier jet de ton propre site web !

Ensemble, nous nous procurerons un hébergeur ainsi qu’un nom de domaine.

Ensuite, on y placera l’outil WordPress et on appréhendera son fonctionnement.

Après cette journée, tu seras capable de continuer par toi-même le développement de ton propre site internet, que ce soit un site vitrine ou un e-commerce.</p>
<span class="color-blue font-black text-white md:color-blue">Prérequis :</span>
<ul class="mb-2">
<li>- Savoir naviguer sur internet avec aisance</li>
<li>- Savoir manipuler un ordinateur
</li>
</ul>



<span class="color-blue font-black text-white md:color-blue">Optionnel :</span>
<ul>
<li>
 - Avoir son ordinateur</li>
 </ul>
 
</div>
<div class="flex md:hidden flex-col">
<button class="bg-blue  m-auto text-white hover:text-yellow-400 md:p-5 p-2 text-sm md:text-3xl font-black w-full mt-5">En savoir plus</button>
<button class="bg-blue  m-auto text-white hover:text-yellow-400 md:p-5 p-2 text-sm md:text-3xl w-full font-black  mt-5">S'inscrire</button>
</div>
</section>
</div>
</article>


<article class="bg-blue w-12/12 m-auto mt-10  ">
<div  class="md:grid grid-cols-3 flex flex-col text-white md:text-black  w-10/12 md:h-screen  m-auto md:space-x-20 content-center items-center place-content-center ">

<section class="md:col-span-2 md:self-end order-2 md:order-1  "> 
<h1 class="text-yellow-400 text-3xl md:text-5xl my-5 md:my-0 font-black">  3 jours pour se digitaliser</h1>
<h2 class="text-white  mb-5 md:mb-10 text-xl font-black"> 
Tu souhaites créer ton propre site mais tu ne sais pas par où commencer ?
</h2>
<button class="bg-red  m-auto md:hidden text-white hover:text-yellow-400 p-2 text-sm w-full font-black ">S'inscrire</button>

<div class="md:bg-white p-2 md:p-10  drop-shadow">
<div class="flex md:space-x-10 flex-col md:flex-row">
<ul class="flex space-x-4 items-baseline mb-2">
<li>
<i class="fas fa-calendar-alt color-red text-2xl "></i></li>
<li>
<p class=" text-lg  "> le 28 janvier 2022</p></li>
</ul>
<ul class="flex space-x-4 items-baseline">
<li>
<i class="fas fa-user-alt color-red text-2xl mb-5"></i></li>
<li>
<p class=" text-lg  "> Jérémy Scala</p></li>
</ul>
</div>
<ul class="flex space-x-4 items-baseline mb-5">
<li>
<i class="fas fa-map-marker color-red text-2xl"></i></li>
<li>
<p class=" text-lg  "> La grand poste - Quai Sur - Meuse 19, 4000 Liège</p></li>
</ul>

<p class="mb-5">Le Sirius Hub te propose un atelier gratuit de deux jours grâce auquel tu créeras le premier jet de ton propre site web !

Ensemble, nous nous procurerons un hébergeur ainsi qu’un nom de domaine.

Ensuite, on y placera l’outil WordPress et on appréhendera son fonctionnement.

Après cette journée, tu seras capable de continuer par toi-même le développement de ton propre site internet, que ce soit un site vitrine ou un e-commerce.</p>
<span class="color-red font-black">Prérequis :</span>
<ul class="mb-2">
<li>- Savoir naviguer sur internet avec aisance</li>
<li>- Savoir manipuler un ordinateur
</li>
</ul>



<span class="color-red font-black">Optionnel :</span>
<ul>
<li>
 - Avoir son ordinateur</li>
 </ul>
</div>
<div class="flex md:hidden flex-col">
<button class="bg-red  m-auto text-white hover:text-yellow-400 md:p-5 p-2 text-sm md:text-3xl font-black w-full mt-5">En savoir plus</button>
<button class="bg-red  m-auto text-white hover:text-yellow-400 md:p-5 p-2 text-sm md:text-3xl w-full font-black  mt-5">S'inscrire</button>
</div>
</section>
<div class="order-1 md:order-2">
<figure class="">

<img class="w-full" src="../assets/chriss.png">
</figure>
<div class="flex flex-col ">
<button class="bg-red  m-auto text-white hover:text-yellow-400 hidden md:block p-5 text-3xl font-black w-full  mt-5">En savoir plus</button>
<button class="bg-red  m-auto text-white hover:text-yellow-400 hidden md:block p-5 text-3xl w-full font-black  mt-5">S'inscrire</button>
</div>      
</div>
</div>
</article>

    <Footer/> 
</Layout>
        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://docs.astro.build/core-concepts/component-hydration/ 
           -->

  