<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Soigne ta com</title>
     <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/robotech-gp" type="text/css"/> 
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/roboto-1" type="text/css"/> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet"> 
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
              <link rel="stylesheet" href={Astro.resolve("../styles/reset.css")} >
          <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} >
      <script src="https://kit.fontawesome.com/2d61aef8e6.js" crossorigin="anonymous"></script>
      


</head>
<body class="bg-blue ">
    <main class="w-screen " >
        <header class="bg-red text-white  m-auto flex px-10 py-2  justify-between" >

        <h1>  logo</h1>
        <ul class="flex flex-col md:flex-row space-x-10">
        <li>Accueil</li>
        <li> Les prochaines formations</li>
        <li> Toutes nos formations </li>
         </ul>
        </header>
            <slot />
        </main>
        </body>
    </html>