     <footer class="flex flex-col md:flex-row w-10/12 m-auto md:p-2 opacity-80  md:justify-between "> 
      <ul class="flex space-x-4 text-white self-end " >
      <li> <i class="fab fa-facebook text-white text-xl"></i></li>
      <li> <i class="fab fa-instagram text-white text-xl"></i></li>
      </ul>
      <p class="text-white self-end">@Sirius coop</p>
      <div>
      <h3 class="text-white text-xl font-black mb-5"> Restez informé(e) !  </h3>
      <form>
      <div class="flex flex-col items-baseline space-y-2" > 
      <label class="text-yellow-400 font-black">Adresse mail</label>
      <div class="flex flex-col md:flex-row "> 
      <input type="email" />
      <input type="submit" value="Envoyer" class="bg-yellow-400 font-black text-white p-2"> 
      </div>
      </div>
      </form>
      </div>
      </footer>  